body {
    background: #f5d9d5;

}

#headingGroup h1 {
    font-size: 3.5rem;
    /* Adjust the size as needed */
    font-weight: 1100;
    font-style: normal;
    color: #333333;
    font-family: "Baloo 2", sans-serif;
    padding-left: 0px;
    margin-top: 6.5rem;
    
}

.navbar.scrolled {
    background:#A3D5FF;;
    transition: background 200ms;
}


#headingGroup .btn-outline-primary ,.text-center .btn-outline-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    width: 30%;
    margin-bottom: 15px;
}

.btn-outline-primary {
    width: 100px;
    padding-top: 0px;
}


#mainNavbar .nav-link {
    color: #333333;
    padding-left: 20px;
}

#mainNavbar .nav-link:hover {
    color: black;
}

#mainNavbar .navbar-brand {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

#headingGroup h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    justify-content: flex-start;
    margin-left: 15px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    word-spacing: -1px;


}


.app-illustration {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.btn-primary .footer {
    color: #fff; /* Text color */
    background-color: #007bff; /* Background color */
    border-color: #007bff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    padding: 0.25rem 0.5rem; /* Padding */
    width:auto;
}

h5{
    align-items: center;
}

footer{
    padding-top: 2rem; /* Top padding */
    padding-bottom: 0rem; /* Bottom padding */
    background-color: #3f3d56;
    color: white;
}


.social-icons {
    align-items: center; /* Center align the icons */
    margin-top: 0px; /* Example margin */
}

.social-icons a {
    display: inline-block; /* Display icons in a line */
    margin: 0 10px; /* Adjust spacing between icons */
}

.social-icons img {
    width: 25px; /* Adjust the width of the icons */
    height: auto; /* Maintain aspect ratio */
}

.social-icons a:hover img {
    opacity: 0.7; /* Reduce opacity on hover */
}
.content{
    margin-bottom: 50px;
}

footer .container-fluid {
    width: 100%;
}


a, a.terms-policy{
    text-decoration: none !important;
}